.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.logo > img {
  cursor: pointer;
}

.hamburger {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  height: 96px;
}

@media (max-width: 599px) {
  /* .header {
    position: relative;
  } */

  .hamburger {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 254px;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(40px);
    padding: 2rem;
    height: 100vh;
    transform: translateY(-200%);
    transition: transform 0.5s ease-in-out;
  }

  .menu-active {
    transform: translateY(0px);
  }

  .nav-list > div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 4rem;
  }

  .nav-list > li {
    margin-bottom: 2rem;
    font-family: var(--barlow-font);
    font-size: 16px;
    letter-spacing: 2.7px;
    cursor: pointer;
  }

  .nav-list > li {
    color: #ffffff;
    letter-spacing: 2.7px;
    font-weight: 200;
  }

  .nav-list > li > span {
    color: #ffffff;
    font-weight: 600;
    margin-right: 5px;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .hamburger {
    display: none;
  }

  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    gap: 2rem;
    transform: translateY(0);
    text-align: center;
  }

  .nav-list > div {
    display: none;
  }

  .menu-active {
    transform: translateY(0px);
  }

  .nav-list > li {
    font-family: var(--barlow-font);
    font-size: 16px;
    letter-spacing: 2.7px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list > li:hover {
    border-bottom: 4px solid #d0d6f9;
  }

  .nav-list > li {
    color: #ffffff;
    letter-spacing: 2.7px;
    font-weight: 200;
  }

  .nav-list > li > span {
    display: none;
  }

  .active-nav {
    border-bottom: 4px solid #ffffff;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 2rem 0 2rem 2rem;
  }
  .hamburger {
    display: none;
  }

  .nav > img {
    display: none;
  }

  .nav-list {
    position: initial;

    width: 830px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(100px);
    gap: 2rem;
    transform: translateY(0);
    text-align: center;
  }

  .nav-list > div {
    display: none;
  }

  .menu-active {
    transform: translateY(0px);
  }

  .nav-list > li {
    font-family: var(--barlow-font);
    font-size: 16px;
    letter-spacing: 2.7px;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-list > li:hover {
    border-bottom: 4px solid #d0d6f9;
  }

  .nav-list > li {
    color: #ffffff;
    letter-spacing: 2.7px;
    font-weight: 200;
    display: flex;
    align-items: center;
  }

  .nav-list > li > span {
    display: inline;
    font-weight: 400;
    padding-right: 11px;
  }

  .active-nav {
    border-bottom: 4px solid #ffffff;
  }
  .line {
    width: 473px;
    height: 1px;
    background-color: #ffffff;
    margin-right: -8rem;
    z-index: 1;
  }
}
